{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="{% static 'css/sampleForm.css' %}">
</head>
<body>
    <div class="Form">
        <form action="" method="get">
            <h3>Student Details</h3>
            Student Name:
            <input type="text"><br><br>
            Student Age:
            <input type="number"><br><br>
            <input type="submit">
        </form>
    </div>

</body>
</html>