<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Sample bootstrap</title>
</head>
<body>
    <div class="container bg-success">
        <h1>Welcome to Bootstrap, I belong to container class</h1>
    </div>
    <div class="container-fluid bg-primary">
        <h1>I belong to container-fluid class</h1>
    </div>
    <div class="jumbotron">
        <h1>I belong to jumbotron</h1>
    </div>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h1><strong>Hi</strong> this a success alert</h1>
    </div>
    <h2 class="text-primary">I'm text Primary</h2>
    <h2 class="text-secondary">I'm text Secondary</h2>
    <button type="button">button</button>
    <button type="submit" class="btn btn-warning">submit</button>
    <button type="button" class="btn-primary">btn primary</button>
    <button type="button" class="btn btn-primary">btn btn primary</button>
    <input type="submit" value="Submit" class="btn btn-info">
</body>
</html>